Game Board

<table style="width:375px">
  <tr>
    <% (1..10).to_a.each do |x| %>
      <td style="text-align: center"> <%= x %> </td>
    <% end %>
  </tr>
</table>
<div style='border: 2px solid white; height:370px; width:385px'>
  <% @board.grid.each do |key, value| %>
    <% if value.content.is_a? Water %>
      <div style='display: inline-block; border: 1px solid grey; height:30px; width:30px; background-color:#c6e2ff'>
        <% key %> 
      </div>
    <% else %>
       <div style='display: inline-block; border: 1px solid grey; height:30px; width:30px; background-color:#ffff32'>
        <%=key %> 
       </div>
    <% end %>
  <% end %>
</div>


