<%= erb(:board) %>

<form action="/game_board">
  <div>
    Place Destroyer (size 3):
    <input type="text" name="coordinates_1">
    <input type="radio" name="orientation_1" value="horizontally" checked> Horizontally
    <input type="radio" name="orientation_1" value="vertically"> Vertically
    <input type="submit" value="Place">
  </div>
</form>
<form action="/game_board">
  Place Battleship (size 4):
  <input type="text" name="coordinates_2">
  <input type="radio" name="orientation_2" value="horizontally" checked> Horizontally
  <input type="radio" name="orientation_2" value="vertically"> Vertically
  <input type="submit" value="Place">
</form>
<form action="/game_board">
  Place Aircraft Carrier (size 5):
  <input type="text" name="coordinates_3">
  <input type="radio" name="orientation_3" value="horizontally" checked> Horizontally
  <input type="radio" name="orientation_3" value="vertically"> Vertically
  <input type="submit" value="Place">
</form>
<form action="/game_board">
  Place Patrol Boat (size 2):
  <input type="text" name="coordinates_4">
  <input type="radio" name="orientation_4" value="horizontally" checked> Horizontally
  <input type="radio" name="orientation_4" value="vertically"> Vertically
  <input type="submit" value="Place">
</form>
<form action="/game_board">
  Place Submarine (size 3):
  <input type="text" name="coordinates_5">
  <input type="radio" name="orientation_5" value="horizontally" checked> Horizontally
  <input type="radio" name="orientation_5" value="vertically"> Vertically
  <input type="submit" value="Place">
</form>

<form action="/game_board">
  Fire
  <input type="text" name="fire">
  <input type="submit" value="Fire!">
</form>
params <%= params %>
