<table style="width:375px; margin-left: 30px">
  <tr>
    <% (1..10).to_a.each do |x| %>
      <td> <%= x %> </td>
    <% end %>
  </tr>
</table>
<div style='display: inline-block; height: 370px'>
  <% ('A'..'J').to_a.each do |x| %>
    <div style="height: 38px"><%= x %></div>
  <% end %>
</div>
<div style='display: inline-block; border: 2px solid white; height:370px; width:385px; '>
  <% $board.grid.each do |key, value| %>
    <% if value.content.is_a? Water %>
      <div style='display: inline-block; border: 1px solid grey; height:30px; width:30px; background-color:#c6e2ff; border-radius: 5px'>
        <% key %>
      </div>
    <% else %>
       <div style='display: inline-block; border: 1px solid grey; height:30px; width:30px; background-color:#ffff32; border-radius: 5px'>
        <% key %>
       </div>
    <% end %>
  <% end %>
</div>

<form action="/game_board">
  <div>
    Place Destroyer (size 3):
    <input type="text" name="coordinates_1">
    <input type="radio" name="orientation_1" value="horizontally" checked> Horizontally
    <input type="radio" name="orientation_1" value="vertically"> Vertically
    <input type="submit" value="Place">
  </div>
</form>
<form action="/game_board">
  Place Battleship (size 4):
  <input type="text" name="coordinates_2">
  <input type="radio" name="orientation_2" value="horizontally" checked> Horizontally
  <input type="radio" name="orientation_2" value="vertically"> Vertically
  <input type="submit" value="Place">
</form>
<form action="/game_board">
  Place Aircraft Carrier (size 5):
  <input type="text" name="coordinates_3">
  <input type="radio" name="orientation_3" value="horizontally" checked> Horizontally
  <input type="radio" name="orientation_3" value="vertically"> Vertically
  <input type="submit" value="Place">
</form>
<form action="/game_board">
  Place Patrol Boat (size 2):
  <input type="text" name="coordinates_4">
  <input type="radio" name="orientation_4" value="horizontally" checked> Horizontally
  <input type="radio" name="orientation_4" value="vertically"> Vertically
  <input type="submit" value="Place">
</form>
<form action="/game_board">
  Place Submarine (size 3):
  <input type="text" name="coordinates_5">
  <input type="radio" name="orientation_5" value="horizontally" checked> Horizontally
  <input type="radio" name="orientation_5" value="vertically"> Vertically
  <input type="submit" value="Place">
</form>
