<div>
  <% if @visitor == '' %>
    <div>
      Please enter a name!
      <form action="/greetings">
        <input type="text" name="name">
        <input type="submit" value="Submit">
      </form>
    </div>
  <% else %>
    <div>
      Greetings <%= @visitor %>!<br>
        <a href="/game_board">Start Game</a><br>
        <a href="/board">Play with Computer</a>
    </div>
  <% end %>
</div>
