<div style="display: inline-block">
  <form action="/place_ship" method="post">
    <div>
      Place ship:
      <input type="text" name="coordinates">
      <input type="radio" name="orientation" value="horizontally" checked> Horizontally
      <input type="radio" name="orientation" value="vertically"> Vertically
      <input type="submit" value="Place">
    </div>
  </form>
</div>
